@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.flex-container {
	//general
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	font-family: "Shadows Into Light", cursive;
	font-size: 22px;

	//flex
	display: flex;
	justify-content: center;
	align-items: center;

	.notepad {
		//general
		min-height: 900px;
		width: 500px;
		background-image: url("../img/notepad.png");
		background-size: cover;
		background-position: center;

		//flex
		display: flex;
		justify-content: center;
		align-items: center;

		&__ul {
			//general
			position: relative;
			top: 15px;
			right: 4px;
			height: 488px;
			width: 360px;
			overflow: hidden;

			//grid
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(14, 34.8px);
		}

		&__li-item {
			padding-left: 10px;

			//grid
			display: grid;
			grid-template-columns: 1fr repeat(2, 30px);
		}

		&__task-content {
			line-height: 34.8px;
			overflow: hidden;
		}

		&__btn {
			line-height: 34.8px;

			&--check {
				color: #52b788;
			}

			&--del {
				color: #e5383b;
			}
		}
	}
}
