@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@mixin text {
	font-family: "Shadows Into Light", cursive;
	font-size: 22px;
	color: rgb(24, 24, 24);
}
$check-color: #52b788;
$del-color: #e5383b;
$plus-color: #22acfc;
$pointer-time: 0.2s;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex-container {
	//general
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	@include text;

	//flex
	display: flex;
	justify-content: center;
	align-items: center;

	.notepad {
		//general
		min-height: 900px;
		width: 500px;
		background-image: url("../img/notepad.png");
		background-size: cover;
		background-position: center;

		//flex
		display: flex;
		justify-content: center;
		align-items: center;

		&__ul {
			//general
			position: relative;
			top: 15px;
			right: 4px;
			height: 488px;
			width: 360px;
			overflow: hidden;
			padding: 0 4px;

			//grid
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(14, 34.8px);
		}

		&__li-item {
			//grid
			display: grid;
			grid-template-columns: 1fr repeat(2, 23px);
		}

		&__task-content {
			margin-top: 3.5px;
			overflow: hidden;
		}

		&__btn {
			transition: $pointer-time;
			cursor: pointer;
			font-size: 19px;
			text-align: center;

			//flex
			display: flex;
			justify-content: center;
			align-items: center;

			&--check {
				&:hover {
					color: $check-color;
				}
				&:active {
					color: lighten($check-color, 25%);
				}
			}

			&--del {
				&:hover {
					color: $del-color;
				}
				&:active {
					color: lighten($del-color, 25%);
				}
			}

			&--plus {
				grid-column: 3;

				&:hover {
					color: $plus-color;
				}
				&:active {
					color: lighten($plus-color, 25%);
				}
			}
		}

		&__input {
			height: 22px;
			margin-top: 10px;
			@include text;
			background: none;
			border: none;
			outline: none;
		}
	}
}
